#AppRoot {
	.App {
		.ViewContainer {
			.MarketPlace.View {
				background-color: #111;

				.ViewBox {
					display: block;
					position: relative;

					width: 100vw;
					max-width: 100%;

					min-height: 100vh;

					background-color: #111;

					.Spacer {
						display: block;
						position: relative;

						height: $heightHeader;

						@include responsiveMax($responsiveMed) {
							height: $heightHeaderMed;
						}

						@include responsiveMax($responsiveSmall) {
							height: $heightHeaderSmall;
						}
					}

					.Controls {
						display: flex;
						position: relative;

						flex-direction: row;

						padding-left: $padding;
						padding-right: $padding;
						padding-bottom: $padding;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
							padding-bottom: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
							padding-bottom: 20px;
						}

						.ControlsContainer {
							display: flex;
							position: relative;

							flex-grow: 1;
							flex-basis: 0;

							.SearchControl {
								display: flex;
								flex-grow: 2;
								flex-basis: 20px;

								@include responsiveMax($responsiveMed) {
									flex-grow: 2;
									flex-basis: 20px;
								}

								@include responsiveMax($responsiveSmall) {
									flex-grow: 1;
									flex-basis: 50%;
								}
							}

							.ControlSpacer {
								display: flex;
								width: 20px;

								@include responsiveMax($responsiveMed) {
									display: flex;
									width: 20px;
								}

								@include responsiveMax($responsiveSmall) {
									display: flex;
									width: 15px;
								}
							}

							.FilterControl {
								display: flex;
								flex-grow: 1;
								flex-basis: 0;

								justify-content: space-between;

								@include responsiveMax($responsiveMed) {
									display: flex;
									flex-grow: 1;
									flex-basis: 0;
								}

								@include responsiveMax($responsiveSmall) {
									display: flex;
									flex-grow: 1;
									flex-basis: auto;
								}
							}
						}
					}

					.PunkGrid {
						display: flex;
						position: relative;

						flex-direction: column;

						padding-left: $padding - 10px;
						padding-right: $padding - 10px;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed - 10px;
							padding-right: $paddingMed - 10px;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall - 10px;
							padding-right: $paddingSmall - 10px;
						}

						.PunkRow {
							display: flex;
							position: relative;

							width: 100%;

							flex-direction: row;

							@include responsiveMax($responsiveMed) {
								flex-direction: row;
							}

							@include responsiveMax($responsiveSmall) {
								flex-direction: column;
							}

							.PunkItem {
								display: flex;
								position: relative;

								flex-grow: 1;
								flex-basis: 33%;

								margin-left: 10px;
								margin-right: 10px;
								margin-bottom: 20px;

								border-radius: 18px;

								background-color: #333;

								@include responsiveMax($responsiveMed) {
									flex-basis: 33%;
								}

								@include responsiveMax($responsiveSmall) {
									flex-basis: 100%;
								}

								.PunkItemContent {
									display: flex;
									position: relative;

									flex-grow: 1;

									flex-direction: row;

									padding-left: 20px;
									padding-right: 20px;

									padding-top: 20px;
									padding-bottom: 30px;

									.OverlayButton {
										display: flex;
										position: absolute;

										z-index: 10;

										top: 18px;
										right: 20px;

										width: 120px;
										height: 53px;

										padding-top: 5px;
										padding-bottom: 5px;

										flex-direction: column;
										align-items: flex-end;

										font-family: 'Gilroy', sans-serif;
										font-size: 14px;
										font-weight: 600;

										.ButtonTitle {
											display: block;
											position: relative;

											font-size: 8px;

											color: #00f5f5;
										}

										.ButtonContent {
											display: block;
											position: relative;

											color: #fff;

											font-weight: 900;

											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
										}
									}

									.PunkImageContainer {
										display: flex;
										position: relative;

										width: 100px;
										height: 100px;

										border-radius: 50px;

										overflow: hidden;

										align-items: center;
										justify-content: center;

										background-color: #00f5f5;

										.PunkImageContainerBG {
											display: flex;
											position: relative;

											width: 92px;
											height: 92px;

											border-radius: 46px;

											overflow: hidden;

											align-items: flex-end;
											justify-content: center;

											background: radial-gradient(
												92px 92px at 50% 100%,
												transparent,
												#8000ff
											);

											.PunkImageGrid {
												width: 92px;
												height: 92px;

												-ms-interpolation-mode: nearest-neighbor;
												image-rendering: pixelated;
												image-rendering: -moz-crisp-edges;
											}
										}
									}

									.PunkDetailsOverlay {
										display: none;
										position: absolute;

										z-index: 5;

										top: 0px;
										left: 130px;

										width: calc(100% - 130px);
										height: 100%;

										overflow: hidden;

										flex-grow: 1;

										flex-direction: column;

										border-top-right-radius: 18px;
										border-bottom-right-radius: 18px;

										background-color: #333;

										.DetailsOverlay {
											position: relative;
											padding-top: 23px;
											padding-left: 0px;
											padding-right: 20px;
											padding-bottom: 30px;

											flex-grow: 1;

											flex-direction: column;
										}

										.DetailsOverlayContent {
											display: flex;
											position: relative;
											flex-direction: column;

											padding-bottom: 5px;

											align-items: flex-start;
											justify-content: space-between;

											font-family: 'Gilroy', sans-serif;
											font-size: 14px;
											font-weight: 600;

											.DetailsTextTitle {
												display: block;
												position: relative;

												font-size: 8px;

												color: #00f5f5;
											}

											.DetailsTextContent {
												display: block;
												position: relative;

												color: #fff;

												font-weight: 900;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}
										}
									}

									.PunkDetailsContainer {
										display: flex;
										position: relative;

										padding-top: 3px;
										padding-left: 10px;

										flex-grow: 1;

										flex-direction: column;

										.PunkItemTop {
											display: flex;
											position: relative;

											flex-direction: row;
											justify-content: space-between;
										}

										.PunkItemDetails {
											display: flex;
											position: relative;

											flex-direction: column;
											align-items: flex-start;

											justify-content: space-between;

											padding-bottom: 5px;

											font-family: 'Gilroy', sans-serif;
											font-size: 14px;
											font-weight: 600;

											.DetailsTextTitle {
												display: block;
												position: relative;

												font-size: 8px;

												color: #00f5f5;
											}

											.DetailsTextContent {
												display: block;
												position: relative;

												color: #fff;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}

											.DetailsTextContent.Bold {
												font-weight: 900;
											}

											.DetailsTextContent.OverFlow {
												display: block;
												position: absolute;

												top: 9px;
												left: 0px;

												width: 100%;

												color: #111;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}
										}
									}
								}
							}

							.PunkSpacer {
								display: block;
								width: 20px;
								height: 140px;

								@include responsiveMax($responsiveMed) {
									display: block;
									width: 20px;
									height: 140px;
								}

								@include responsiveMax($responsiveSmall) {
									display: none;

									width: 0px;
									height: 0px;
								}
							}

							.PunkSpacer.Hidden {
								display: none;

								width: 0px;
								height: 0px;
							}
						}
					}
				}
			}
		}
	}
}
