#AppRoot {
	.App {
		.ViewContainer {
			.MarketPlace.View {
				background-color: #111;

				.ViewBox {
					display: block;
					position: relative;

					width: 100vw;
					max-width: 100%;

					min-height: 100vh;

					background-color: #111;

					.Spacer {
						display: block;
						position: relative;

						height: $heightHeader;

						@include responsiveMax($responsiveMed) {
							height: $heightHeaderMed;
						}

						@include responsiveMax($responsiveSmall) {
							height: $heightHeaderSmall;
						}
					}

					.Controls {
						display: flex;
						position: relative;

						flex-direction: row;

						padding-left: $padding;
						padding-right: $padding;
						padding-bottom: 20px;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
						}

						.ControlsContainer {
							display: flex;
							position: relative;

							flex-grow: 1;
							flex-basis: 0;

							.SearchControl {
								display: flex;
								flex-grow: 2;
								flex-basis: 20px;

								@include responsiveMax($responsiveMed) {
									flex-grow: 2;
									flex-basis: 20px;
								}

								@include responsiveMax($responsiveSmall) {
									flex-grow: 1;
									flex-basis: 50%;
								}
							}

							.ControlSpacer {
								display: flex;
								width: 20px;

								@include responsiveMax($responsiveMed) {
									display: flex;
									width: 20px;
								}

								@include responsiveMax($responsiveSmall) {
									display: flex;
									width: 15px;
								}
							}

							.FilterControl {
								display: flex;
								flex-grow: 1;
								flex-basis: 0;

								justify-content: space-between;

								@include responsiveMax($responsiveMed) {
									display: flex;
									flex-grow: 1;
									flex-basis: 0;
								}

								@include responsiveMax($responsiveSmall) {
									display: flex;
									flex-grow: 1;
									flex-basis: auto;
								}
							}
						}
					}

					.PunkGrid {
						display: flex;
						position: relative;

						flex-direction: column;

						padding-left: $padding - 10px;
						padding-right: $padding - 10px;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed - 10px;
							padding-right: $paddingMed - 10px;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall - 10px;
							padding-right: $paddingSmall - 10px;
						}

						.PunkRow {
							display: flex;
							position: relative;

							width: 100%;

							flex-direction: row;

							@include responsiveMax($responsiveMed) {
								flex-direction: row;
							}

							@include responsiveMax($responsiveSmall) {
								flex-direction: column;
							}

							.PunkItem {
								display: flex;
								position: relative;

								flex-grow: 1;
								flex-basis: 33%;

								margin-left: 10px;
								margin-right: 10px;
								margin-bottom: 20px;

								border-radius: 18px;

								background-color: #333;

								@include responsiveMax($responsiveMed) {
									flex-basis: 33%;
								}

								@include responsiveMax($responsiveSmall) {
									flex-basis: 100%;
								}

								.PunkItemContent {
									display: flex;
									position: relative;

									flex-grow: 1;

									flex-direction: column;

									.OverlayData {
										display: flex;
										position: absolute;

										z-index: 10;

										width: 100%;

										padding-top: 15px;

										padding-left: 18px;
										padding-right: 18px;

										flex-direction: row;

										.PunkItemDetails {
											display: flex;
											position: relative;

											width: 50%;

											flex-direction: column;
											justify-content: space-between;

											font-family: 'Gilroy', sans-serif;
											font-size: 14px;
											font-weight: 600;

											.DetailsTextTitle {
												display: block;
												position: relative;

												font-size: 8px;

												color: #fff;
											}

											.DetailsTextContent {
												display: block;
												position: relative;

												color: #fff;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}

											.DetailsTextContent.Bold {
												font-weight: 900;
											}
										}

										.PunkItemDetails.Left {
											align-items: flex-start;
										}

										.PunkItemDetails.Right {
											align-items: flex-end;
										}
									}

									.PunkImageContainer {
										display: flex;
										position: relative;

										padding-top: 40px;

										border-top-left-radius: 18px;
										border-top-right-radius: 18px;

										overflow: hidden;

										align-items: center;
										justify-content: center;

										background: linear-gradient(
											335deg,
											#cf15b4,
											#00c9c9
										);

										background-color: #00f5f5;

										.PunkImageGrid {
											display: block;
											position: relative;

											width: 50%;

											max-width: 160px;
											max-height: 160px;
										}

										.PunkImageGrid:before {
											content: '';
											display: block;
											padding-top: 100%;
										}
									}

									.PunkDetailsContainer {
										display: flex;
										position: relative;

										padding-left: 18px;
										padding-right: 18px;

										padding-top: 15px;
										padding-bottom: 18px;

										flex-grow: 1;

										flex-direction: column;

										.PunkItemTop {
											display: flex;
											position: relative;

											flex-direction: row;
											justify-content: space-between;
										}

										.PunkItemDetails {
											display: flex;
											position: relative;

											flex-direction: column;
											align-items: flex-start;
											justify-content: space-between;

											padding-bottom: 8px;

											font-family: 'Gilroy', sans-serif;
											font-size: 14px;
											font-weight: 600;

											.DetailsTextTitle {
												display: block;
												position: relative;

												font-size: 8px;

												color: #00f5f5;
											}

											.DetailsTextContent {
												display: block;
												position: relative;

												color: #fff;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}

											.DetailsTextContent.Bold {
												font-weight: 900;
											}

											.DetailsTextContent.OverFlow {
												display: block;
												position: absolute;

												top: 9px;
												left: 0px;

												width: 100%;

												color: #111;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}
										}
									}
								}
							}

							.PunkSpacer {
								display: block;
								width: 20px;
								height: 140px;

								@include responsiveMax($responsiveMed) {
									display: block;
									width: 20px;
									height: 140px;
								}

								@include responsiveMax($responsiveSmall) {
									display: none;

									width: 0px;
									height: 0px;
								}
							}

							.PunkSpacer.Hidden {
								display: none;

								width: 0px;
								height: 0px;
							}
						}
					}
				}
			}
		}
	}
}
