#AppRoot {
	.App {
		.ViewContainer {
			.MarketPlace.View {
				background: $backgroundColor;
				background-color: #fff;

				.ViewBox {
					display: block;
					position: relative;

					width: 100vw;
					max-width: 100%;

					min-height: 100vh;

					background-color: #fff;

					.Spacer {
						display: block;
						position: relative;

						height: $heightHeader;

						@include responsiveMax($responsiveMed) {
							height: $heightHeaderMed;
						}

						@include responsiveMax($responsiveSmall) {
							height: $heightHeaderSmall;
						}
					}

					.Controls {
						display: flex;
						position: relative;

						flex-direction: row;

						padding-left: $padding;
						padding-right: $padding;
						padding-bottom: $padding;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
							padding-bottom: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
							padding-bottom: 20px;
						}

						.ControlsContainer {
							display: flex;
							position: relative;

							flex-grow: 1;
							flex-basis: 0;

							.SearchControl {
								display: flex;
								flex-grow: 2;
								flex-basis: 20px;

								@include responsiveMax($responsiveMed) {
									flex-grow: 2;
									flex-basis: 20px;
								}

								@include responsiveMax($responsiveSmall) {
									flex-grow: 2;
									flex-basis: auto;
								}
							}

							.ControlSpacer {
								display: flex;
								width: 20px;

								@include responsiveMax($responsiveMed) {
									display: flex;
									width: 20px;
								}

								@include responsiveMax($responsiveSmall) {
									display: none;
									width: 0px;
								}
							}

							.FilterControl {
								display: flex;
								flex-grow: 1;
								flex-basis: 0;

								@include responsiveMax($responsiveMed) {
									display: flex;
									flex-grow: 1;
									flex-basis: 0;
								}

								@include responsiveMax($responsiveSmall) {
									display: none;
									flex-grow: 1;
									flex-basis: 0;
								}
							}
						}
					}

					.PunkGrid {
						display: flex;
						position: relative;

						flex-direction: column;

						padding-left: $padding;
						padding-right: $padding;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
						}

						.PunkRow {
							display: flex;
							position: relative;

							width: 100%;

							flex-direction: row;

							@include responsiveMax($responsiveMed) {
								flex-direction: row;
							}

							@include responsiveMax($responsiveSmall) {
								flex-direction: column;
							}

							.PunkItem {
								display: flex;
								position: relative;

								flex-grow: 1;

								margin-bottom: 20px;

								border-radius: 18px;

								background-color: #f2f2f2;

								.PunkItemContent {
									display: flex;
									position: relative;

									flex-grow: 1;

									flex-direction: row;

									padding-left: 20px;
									padding-right: 20px;

									padding-top: 20px;
									padding-bottom: 30px;

									.PunkImageContainer {
										display: flex;
										position: relative;

										width: 100px;
										height: 100px;

										border-radius: 50px;

										overflow: hidden;

										align-items: center;
										justify-content: center;

										background-color: #00f5f5;

										.PunkImageContainerBG {
											display: flex;
											position: relative;

											width: 92px;
											height: 92px;

											border-radius: 46px;

											overflow: hidden;

											align-items: flex-end;
											justify-content: center;

											background: radial-gradient(
												92px 92px at 50% 100%,
												transparent,
												#8000ff
											);

											.PunkImageGrid {
												width: 92px;
												height: 92px;

												-ms-interpolation-mode: nearest-neighbor;
												image-rendering: pixelated;
												image-rendering: -moz-crisp-edges;
											}
										}
									}

									.PunkDetailesContainer {
										display: flex;
										position: relative;

										padding-top: 3px;
										padding-left: 10px;

										flex-grow: 1;

										flex-direction: column;

										.PunkItemTop {
											display: flex;
											position: relative;

											flex-direction: row;
										}

										.PunkItemDetails {
											display: flex;
											position: relative;

											flex-grow: 1;
											flex-shrink: 1;

											flex-direction: column;
											align-items: flex-start;

											padding-bottom: 5px;

											font-family: 'Gilroy', sans-serif;
											font-size: 14px;
											font-weight: 600;

											.DetailsTextTitle {
												display: block;
												position: relative;

												font-size: 8px;

												color: #111;
											}

											.DetailsTextContent {
												display: block;
												position: relative;

												color: #111;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}

											.DetailsTextContent.Bold {
												font-weight: 900;
											}

											.DetailsTextContent.OverFlow {
												display: block;
												position: absolute;

												top: 9px;
												left: 0px;

												width: 100%;

												color: #111;

												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}
										}

										.PunkItemDetails.Right {
											align-items: flex-end;
										}
									}
								}
							}

							.PunkSpacer {
								display: block;
								width: 20px;
								height: 140px;

								@include responsiveMax($responsiveMed) {
									display: block;
									width: 20px;
									height: 140px;
								}

								@include responsiveMax($responsiveSmall) {
									display: none;

									width: 0px;
									height: 0px;
								}
							}

							.PunkSpacer.Hidden {
								display: none;

								width: 0px;
								height: 0px;
							}
						}
					}
				}
			}
		}
	}
}
