#AppRoot {
	.App {
		.ViewContainer {
			.Token.View {
				background: $backgroundColor;

				.ViewBox {
					display: flex;

					.Intro {
						display: block;
						position: relative;

						width: 100vw;

						max-width: 100%;

						background-color: #111;

						.IntroStart {
							display: flex;
							position: relative;
							z-index: 2;

							flex-direction: column;

							align-items: flex-start;
							justify-content: flex-start;

							width: 100%;
							height: auto;
							min-height: 100vh;

							background-color: #111;

							background-size: cover;
							background-repeat: no-repeat;
							background-position-x: 50%;

							@include responsiveMax($responsiveMed) {
								background-position-x: 50%;
							}

							@include responsiveMax($responsiveSmall) {
								background-position-x: 25%;
							}

							.IntroTopGradient {
								display: block;
								position: absolute;

								top: 0px;
								left: 0px;

								width: 100%;
								height: 70vh;

								background: rgb(17, 17, 17);
								background: linear-gradient(
									0deg,
									rgba(17, 17, 17, 0) 0%,
									rgba(17, 17, 17, 1) 100%
								);
							}

							.IntroText {
								display: block;
								position: absolute;

								z-index: 10;

								width: 100%;

								left: 0px;
								bottom: 90px;

								@include responsiveMax($responsiveMed) {
									bottom: 90px;
								}

								@include responsiveMax($responsiveSmall) {
									bottom: 70px;
								}

								.IntroPunkText {
									display: block;
									position: relative;

									font-size: 140px;

									font-family: 'Gilroy', sans-serif;
									font-weight: 900;

									padding-top: 10px;
									text-align: left;

									padding-left: $padding;
									padding-right: $padding;

									.TextDark {
										color: #fff;
									}

									.TextLight {
										color: #00f5f5;
									}

									@include responsiveMax($responsiveMed) {
										font-size: 120px;

										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 44px;

										padding-left: $paddingSmall;
										padding-right: $paddingSmall;
									}
								}

								.IntroPunkSubText {
									display: block;
									position: relative;

									font-family: 'Gilroy', sans-serif;
									font-weight: 600;
									font-size: 18px;

									padding-top: 0px;
									margin-top: -10px;

									padding-left: $padding;
									padding-right: $padding;

									text-align: left;

									color: #fff;

									text-shadow: 0px 0px 5px #000;

									@include responsiveMax($responsiveMed) {
										font-size: 18px;
										margin-top: -10px;

										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 16px;
										margin-top: 0px;

										padding-left: $paddingSmall;
										padding-right: $paddingSmall;

										br {
											display: none;
										}
									}
								}

								.HeaderButtonContainer {
									padding-top: 20px;

									padding-left: $padding;
									padding-right: $padding;

									@include responsiveMax($responsiveMed) {
										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										padding-left: $paddingSmall;
										padding-right: $paddingSmall;
									}
								}
							}

							.IntroBottomGradient {
								display: block;
								position: absolute;

								bottom: 0px;
								left: 0px;

								width: 100%;
								height: 40vh;

								background: rgb(17, 17, 17);
								background: linear-gradient(
									0deg,
									rgba(17, 17, 17, 1) 0%,
									rgba(17, 17, 17, 0) 100%
								);
							}
						}

						.IntroContent {
							display: flex;
							position: relative;
							z-index: 2;

							flex-direction: column;

							padding-top: 40px;

							@include responsiveMax($responsiveMed) {
								padding-top: 40px;
							}

							@include responsiveMax($responsiveSmall) {
								padding-top: 25px;
							}

							.ContentBlock {
								display: flex;
								position: relative;

								flex-direction: column;

								padding-bottom: 80px;

								padding-left: $padding;
								padding-right: $padding;

								@include responsiveMax($responsiveMed) {
									padding-left: $paddingMed;
									padding-right: $paddingMed;
								}

								@include responsiveMax($responsiveSmall) {
									padding-left: $paddingSmall;
									padding-right: $paddingSmall;
								}

								.BlockTitle {
									display: block;
									position: relative;

									padding-bottom: 5px;

									color: #fff;

									font-size: 40px;
									font-weight: 800;

									font-family: 'Gilroy', sans-serif;

									@include responsiveMax($responsiveMed) {
										font-size: 40px;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 30px;
									}
								}

								.BlockContent {
									display: flex;
									position: relative;

									flex-direction: column;

									min-height: 150px;

									padding-left: 20px;
									padding-right: 20px;
									padding-top: 20px;
									padding-bottom: 30px;

									border-radius: 18px;
									background-color: #333;

									.AccountItem {
										display: block;
										position: relative;

										.AccountItemContent {
											display: block;
											position: relative;

											overflow: hidden;

											padding-bottom: 15px;

											margin-right: 200px;

											@include responsiveMax(
												$responsiveMed
											) {
												margin-right: 200px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												margin-right: 115px;
											}

											.AccountItemTitleText {
												display: block;
												position: relative;

												overflow: hidden;

												color: #00f5f5;

												font-size: 10px;
												font-weight: 700;

												text-overflow: ellipsis;
												white-space: nowrap;

												font-family: 'Gilroy',
													sans-serif;
											}

											.AccountItemContentText {
												display: block;
												position: relative;

												overflow: hidden;

												color: #fff;

												font-size: 14px;
												font-weight: 900;

												text-overflow: ellipsis;
												white-space: nowrap;

												font-family: 'Gilroy',
													sans-serif;
											}
										}
									}
								}

								.TextImage {
									display: block;
									position: relative;

									width: 60%;
									max-width: 590px;

									padding-top: 10px;
									padding-bottom: 10px;

									@include responsiveMax($responsiveMed) {
										width: 60%;
										max-width: auto;
									}

									@include responsiveMax($responsiveSmall) {
										width: auto;
										max-width: auto;
									}

									.TextImageContent {
										border: 0;
										margin: 0;
										padding: 0;

										width: 100%;
									}
								}

								.ContentItemContent {
									display: block;
									position: relative;

									width: 60%;
									max-width: 590px;

									padding-top: 10px;
									padding-left: 2px;

									color: #fff;

									font-size: 16px;
									line-height: 22px;

									font-weight: 400;
									font-family: 'Gilroy', sans-serif;

									@include responsiveMax($responsiveMed) {
										font-size: 16px;
										line-height: 22px;

										width: 60%;
										max-width: auto;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 14px;
										line-height: 20px;

										width: auto;
										max-width: auto;
									}

									a {
										color: #00f5f5;
									}

									ul {
										padding-left: 18px;
									}

									.SubTitleInline {
										font-size: 24px;
										font-weight: 800;

										color: #00f5f5;

										@include responsiveMax($responsiveMed) {
											font-size: 24px;
											font-weight: 800;
										}

										@include responsiveMax(
											$responsiveSmall
										) {
											font-size: 18px;
											font-weight: 800;
										}
									}
								}

								.ContentItemRoadmap {
									display: flex;
									position: relative;

									width: 60%;
									max-width: 590px;

									border-radius: 25px;

									padding-left: 25px;
									padding-right: 25px;

									padding-top: 25px;
									padding-bottom: 30px;

									flex-direction: column;

									align-items: center;
									justify-content: flex-start;

									background: linear-gradient(
										335deg,
										#cf15b4,
										#00c9c9
									);

									.RoadMapItem {
										display: flex;
										position: relative;

										flex-direction: row;

										width: 100%;

										margin-bottom: 10px;

										.RoadMapContainer {
											display: flex;
											position: relative;

											flex-direction: column;

											flex-grow: 1;

											border-radius: 15px;

											background-color: rgba(
												0,
												0,
												0,
												0.2
											);

											padding-left: 15px;
											padding-right: 15px;

											padding-top: 15px;
											padding-bottom: 20px;

											.RoadMapTitle {
												display: block;
												position: relative;

												color: #fff;

												font-size: 16px;
												line-height: 22px;

												font-weight: 900;
												font-family: 'Gilroy',
													sans-serif;

												@include responsiveMax(
													$responsiveMed
												) {
													font-size: 16px;
												}

												@include responsiveMax(
													$responsiveSmall
												) {
													font-size: 14px;
												}
											}

											.RoadMapContent {
												display: block;
												position: relative;

												color: #fff;

												font-size: 16px;
												line-height: 22px;

												font-weight: 400;
												font-family: 'Gilroy',
													sans-serif;

												@include responsiveMax(
													$responsiveMed
												) {
													font-size: 16px;
												}

												@include responsiveMax(
													$responsiveSmall
												) {
													font-size: 14px;
												}
											}
										}
									}
								}
							}

							.ContentBlock.Items {
								padding-left: 0px;
								padding-right: 0px;

								padding-bottom: 20px;

								.BlockTitle {
									display: block;
									position: relative;

									padding-left: $padding;
									padding-right: $padding;

									@include responsiveMax($responsiveMed) {
										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										padding-left: $paddingSmall;
										padding-right: $paddingSmall;
									}
								}
							}

							.SpacerBottom {
								display: block;
								position: relative;

								width: 100%;
								height: 20px;
							}
						}
					}
				}
			}
		}
	}
}
