.SearchFilter {
	display: block;
	position: fixed;

	overflow: hidden;

	z-index: 50;

	width: 100vw;
	height: 100vh;

	max-width: 100%;

	background-color: #f2f2f2;

	.SearchFilterContent {
		display: flex;
		position: relative;

		padding-top: $heightHeader;

		@include responsiveMax($responsiveMed) {
			height: $heightHeaderMed;
		}

		@include responsiveMax($responsiveSmall) {
			height: $heightHeaderSmall;
		}
	}
}

.SearchFilter.Animate {
	transition: opacity 0.4s $linear;
}
