.SearchFilter {
	display: block;
	position: fixed;

	overflow: hidden;

	opacity: 0;

	z-index: 100;

	width: 100vw;
	height: 100vh;

	max-width: 100%;

	overflow-y: scroll;

	background-color: #333;

	transition: opacity 0.4s $linear;

	.SearchFilterHeader {
		display: block;
		position: fixed;

		z-index: 10;

		background-color: #333;

		width: 100%;
		height: $heightHeader;

		padding-left: $padding;

		@include responsiveMax($responsiveMed) {
			height: $heightHeaderMed;

			padding-left: $paddingMed;
		}

		@include responsiveMax($responsiveSmall) {
			height: $heightHeaderSmall;

			padding-left: $paddingSmall;
		}

		.SearchFilterHeaderCountainer {
			display: flex;
			position: relative;

			flex-direction: row;

			.SearchFilterHeaderTxt {
				display: block;
				position: relative;

				height: $heightHeader;
				line-height: $heightHeader;

				color: #fff;

				font-family: 'Gilroy';
				font-size: 26px;
				font-weight: 900;

				@include responsiveMax($responsiveMed) {
					height: $heightHeaderMed;
					line-height: $heightHeaderMed;
				}

				@include responsiveMax($responsiveSmall) {
					height: $heightHeaderSmall;
					line-height: $heightHeaderSmall;
				}
			}

			.CloseSearchFilterButton {
				display: flex;
				position: absolute;

				height: $heightHeader;

				padding-left: $padding;
				padding-right: $padding;

				right: 0px;
				top: 0px;

				z-index: 5;

				align-items: center;
				justify-content: center;

				@include responsiveMax($responsiveMed) {
					height: $heightHeaderMed;

					padding-left: $paddingMed;
					padding-right: $paddingMed;
				}

				@include responsiveMax($responsiveSmall) {
					height: $heightHeaderSmall;

					padding-left: $paddingSmall;
					padding-right: $paddingSmall;
				}

				.Cross {
					display: flex;
					position: relative;

					width: 22px;

					justify-content: center;

					.CloseCrossLine {
						display: block;
						position: absolute;

						width: 20px;
						height: 2px;

						background-color: #00f5f5;
					}

					.CloseCrossLine.Left {
						transform: rotate(-45deg);
					}

					.CloseCrossLine.Right {
						transform: rotate(225deg);
					}
				}
			}
		}
	}

	.SearchFilterContent {
		display: flex;
		position: relative;

		flex-direction: column;

		justify-content: flex-start;

		padding-top: $heightHeader;

		padding-left: $padding;
		padding-right: $padding;

		@include responsiveMax($responsiveMed) {
			padding-top: $heightHeaderMed;

			padding-left: $paddingMed;
			padding-right: $paddingMed;
		}

		@include responsiveMax($responsiveSmall) {
			padding-top: $heightHeaderSmall;

			padding-left: $paddingSmall;
			padding-right: $paddingSmall;
		}

		.StatusTitle {
			display: flex;
			position: relative;

			color: #00f5f5;

			font-size: 18px;
			font-weight: 900;
			font-family: 'Gilroy', sans-serif;

			padding-bottom: 20px;
		}

		.StatusComponent {
			display: flex;
			position: relative;

			width: 100%;
			padding-bottom: 25px;

			flex-direction: row;
			flex-wrap: wrap;

			justify-content: flex-start;

			.CheckBox {
				display: block;
				position: relative;

				height: 20px;

				width: 33%;

				@include responsiveMax($responsiveMed) {
					width: 50%;
				}

				@include responsiveMax($responsiveSmall) {
					width: 50%;
				}

				.Label {
					position: absolute;
					width: 100%;

					padding-left: 20px;
					padding-right: 20px;

					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;

					color: #fff;

					font-size: 14px;
					font-weight: 700;
					font-family: 'Gilroy', sans-serif;
				}

				.Input {
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
					display: hidden;
				}

				.Checkmark {
					position: absolute;
					width: 14px;
					height: 14px;

					border-radius: 4px;
					border: 2px solid #fff;

					background-color: transparent;
				}

				input:checked ~ .Checkmark {
					background-color: #fff;
				}
			}
		}

		.AttributeTitle {
			display: flex;
			position: relative;

			color: #00f5f5;

			font-size: 18px;
			font-weight: 900;
			font-family: 'Gilroy', sans-serif;

			padding-bottom: 20px;
		}

		.AttributeComponent {
			display: flex;
			position: relative;

			width: 100%;
			padding-bottom: 25px;

			flex-direction: row;
			flex-wrap: wrap;

			justify-content: flex-start;

			.CheckBox {
				display: block;
				position: relative;

				height: 20px;

				width: 33%;

				@include responsiveMax($responsiveMed) {
					width: 50%;
				}

				@include responsiveMax($responsiveSmall) {
					width: 50%;
				}

				.Label {
					position: absolute;
					width: 100%;

					padding-left: 20px;
					padding-right: 20px;

					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;

					color: #fff;

					font-size: 14px;
					font-weight: 700;
					font-family: 'Gilroy', sans-serif;
				}

				.Input {
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
					display: hidden;
				}

				.Checkmark {
					position: absolute;
					width: 14px;
					height: 14px;

					border-radius: 4px;
					border: 2px solid #fff;

					background-color: transparent;
				}

				input:checked ~ .Checkmark {
					background-color: #fff;
				}
			}
		}
	}
}

.SearchFilter.Animate {
	opacity: 1;
}
