.SearchFilter {
	display: block;
	position: fixed;

	overflow: hidden;

	z-index: 50;

	width: 100vw;
	height: 100vh;

	max-width: 100%;

	overflow-y: scroll;

	background-color: #f2f2f2;

	.SearchFilterSpacer {
		display: block;
		position: fixed;
		background-color: #f2f2f2;

		width: 100%;
		height: $heightHeader;

		@include responsiveMax($responsiveMed) {
			height: $heightHeaderMed;
		}

		@include responsiveMax($responsiveSmall) {
			height: $heightHeaderSmall;
		}
	}

	.SearchFilterContent {
		display: flex;
		position: relative;

		flex-direction: column;

		justify-content: flex-start;

		padding-top: $heightHeader;

		padding-left: $padding;
		padding-right: $padding;

		@include responsiveMax($responsiveMed) {
			height: $heightHeaderMed;

			padding-left: $paddingMed;
			padding-right: $paddingMed;
		}

		@include responsiveMax($responsiveSmall) {
			height: $heightHeaderSmall;

			padding-left: $paddingSmall;
			padding-right: $paddingSmall;
		}

		.AttributeTitle {
			display: flex;
			position: relative;

			color: #111;

			font-size: 26px;
			font-weight: 900;
			font-family: 'Gilroy', sans-serif;
		}

		.AttributeComponent {
			display: flex;
			position: relative;

			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;

			justify-content: flex-start;

			.CheckBox {
				display: block;
				position: relative;

				height: 20px;

				width: 33%;

				@include responsiveMax($responsiveMed) {
					width: 50%;
				}

				@include responsiveMax($responsiveSmall) {
					width: 50%;
				}

				.Label {
					position: absolute;
					width: 100%;

					padding-left: 20px;
					padding-right: 20px;

					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;

					font-size: 14px;
					font-weight: 700;
					font-family: 'Gilroy', sans-serif;
				}

				.Input {
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
					display: hidden;
				}

				.Checkmark {
					position: absolute;
					width: 14px;
					height: 14px;

					border-radius: 4px;
					border: 2px solid #111;

					background-color: transparent;
				}

				input:checked ~ .Checkmark {
					background-color: #111;
				}
			}
		}
	}
}

.SearchFilter.Animate {
	transition: opacity 0.4s $linear;
}
