@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Light.woff') format('woff'),
		url('./assets/fonts/Roboto-Light.woff2') format('woff2'),
		url('./assets/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Regular.woff') format('woff'),
		url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
		url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Medium.woff') format('woff'),
	  url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
	  url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Bold.woff') format('woff'),
		url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
		url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Light.woff') format('woff'),
		url('./assets/fonts/Gilroy-Light.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Light.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
		url('./assets/fonts/Gilroy-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Medium.woff') format('woff'),
		url('./assets/fonts/Gilroy-Medium.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-SemiBold.woff') format('woff'),
		url('./assets/fonts/Gilroy-SemiBold.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Bold.woff') format('woff'),
		url('./assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Bold.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Extrabold.woff') format('woff'),
		url('./assets/fonts/Gilroy-Extrabold.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Black.woff') format('woff'),
		url('./assets/fonts/Gilroy-Black.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Black.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Heavy.woff') format('woff'),
		url('./assets/fonts/Gilroy-Heavy.eot?#iefix')
			format('embedded-opentype'),
		url('./assets/fonts/Gilroy-Heavy.woff2') format('woff2'),
		url('./assets/fonts/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 1000;
	font-style: normal;
	font-display: swap;
}
