#AppRoot {
	.App {
		.ViewContainer {
			.Punk.View {
				background-color: #111;

				.ViewBox {
					display: flex;
					position: relative;

					width: 100vw;
					max-width: 100%;

					min-height: 100vh;

					background-color: #111;

					.Spacer {
						display: block;
						position: relative;

						width: 100%;
						height: $heightHeader;

						@include responsiveMax($responsiveMed) {
							height: $heightHeaderMed;
						}

						@include responsiveMax($responsiveSmall) {
							height: $heightHeaderSmall;
						}
					}

					.PunkPositioner {
						display: flex;
						position: relative;

						width: 100%;

						flex-grow: 1;
						flex-direction: row;

						padding-left: $padding;
						padding-right: $padding;

						@include responsiveMax($responsiveMed) {
							flex-direction: row;

							padding-left: $paddingMed;
							padding-right: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							flex-direction: column;

							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
						}

						.PunkContainer {
							display: flex;
							position: relative;

							width: auto;

							@include responsiveMax($responsiveMed) {
								width: auto;
							}

							@include responsiveMax($responsiveSmall) {
								width: 100%;
							}

							.PunkItem {
								display: block;
								position: relative;

								width: 33vw;
								height: 33vw;

								border-top-left-radius: 18px;
								border-top-right-radius: 18px;

								border-bottom-left-radius: 18px;
								border-bottom-right-radius: 18px;

								background: linear-gradient(
									335deg,
									#cf15b4,
									#00c9c9
								);

								@include responsiveMax($responsiveMed) {
									width: 40vw;
									height: 40vw;

									border-top-left-radius: 18px;
									border-top-right-radius: 18px;

									border-bottom-left-radius: 18px;
									border-bottom-right-radius: 18px;
								}

								@include responsiveMax($responsiveSmall) {
									width: 100%;
									height: auto;

									border-top-left-radius: 18px;
									border-top-right-radius: 18px;

									border-bottom-left-radius: 0px;
									border-bottom-right-radius: 0px;
								}

								.PunkItemOverlay {
									display: flex;
									position: absolute;
									width: 100%;

									padding-top: 15px;
									padding-left: 18px;
									padding-right: 18px;

									flex-direction: row;

									.PunkDetailItem {
										display: flex;
										position: relative;

										flex-direction: column;

										padding-bottom: 10px;
										width: 50%;

										.PunkDetailItemTitle {
											display: block;
											position: relative;

											color: #fff;

											font-size: 14px;
											font-weight: 600;
											font-family: 'Gilroy', sans-serif;

											@include responsiveMax(
												$responsiveMed
											) {
												font-size: 14px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												font-size: 10px;
											}
										}

										.PunkDetailItemContent {
											display: block;
											position: relative;

											color: #fff;

											font-size: 22px;
											font-weight: 900;
											font-family: 'Gilroy', sans-serif;

											@include responsiveMax(
												$responsiveMed
											) {
												font-size: 22px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												font-size: 14px;
											}
										}
									}

									.PunkDetailItem.AlignLeft {
										.PunkDetailItemTitle {
											text-align: left;
										}

										.PunkDetailItemContent {
											text-align: left;
										}
									}

									.PunkDetailItem.AlignRight {
										.PunkDetailItemTitle {
											text-align: right;
										}

										.PunkDetailItemContent {
											text-align: right;
										}
									}
								}

								.PunkImageDetail {
									display: block;
									position: relative;
									width: 100%;
								}
							}

							.PunkItem:after {
								@include responsiveMax($responsiveSmall) {
									content: '';
									display: block;
								}
							}
						}

						.PunkDetails {
							display: flex;
							position: relative;

							width: 100%;

							flex-grow: 1;
							flex-direction: column;

							padding-top: 0px;
							padding-left: 22px;

							@include responsiveMax($responsiveMed) {
								padding-top: 0px;
								padding-left: 22px;
							}

							@include responsiveMax($responsiveSmall) {
								padding-top: 0px;
								padding-left: 0px;
							}

							.PunkDetailsBackground {
								padding-top: 15px;
								padding-left: 18px;
								padding-right: 18px;
								padding-bottom: 18px;

								height: 33vw;
								border-radius: 18px;

								background-color: #333;

								@include responsiveMax($responsiveMed) {
									padding-top: 15px;
									padding-left: 18px;
									padding-right: 18px;
									padding-bottom: 18px;

									height: 40vw;
									border-radius: 18px;

									background-color: #333;
								}

								@include responsiveMax($responsiveSmall) {
									padding-top: 15px;
									padding-left: 18px;
									padding-right: 18px;
									padding-bottom: 18px;

									height: auto;

									border-top-left-radius: 0px;
									border-top-right-radius: 0px;

									border-bottom-left-radius: 18px;
									border-bottom-right-radius: 18px;

									background-color: #333;
								}

								.PunkDetailItemContainer {
									display: flex;
									flex-direction: row;
									justify-content: space-between;

									.PunkDetailItem {
										display: flex;
										position: relative;

										flex-direction: column;

										padding-bottom: 10px;

										.PunkDetailItemTitle {
											display: block;
											position: relative;

											color: #00f5f5;

											font-size: 14px;
											font-weight: 600;
											font-family: 'Gilroy', sans-serif;

											@include responsiveMax(
												$responsiveMed
											) {
												font-size: 14px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												font-size: 10px;
											}
										}

										.PunkDetailItemTitle.Big {
											display: block;
										}

										.PunkDetailItemContent {
											display: block;
											position: relative;

											color: #fff;

											font-size: 22px;
											font-weight: 900;
											font-family: 'Gilroy', sans-serif;

											@include responsiveMax(
												$responsiveMed
											) {
												font-size: 22px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												font-size: 14px;
											}
										}

										.PunkDetailItemContent.Big {
											display: block;
											font-size: 48px;

											@include responsiveMax(
												$responsiveMed
											) {
												font-size: 48px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												font-size: 26px;
												margin-top: -2px;
												margin-bottom: -4px;
											}
										}
									}

									.PunkDetailItem.AlignLeft {
										.PunkDetailItemTitle {
											text-align: left;
										}

										.PunkDetailItemContent {
											text-align: left;
										}
									}

									.PunkDetailItem.AlignRight {
										.PunkDetailItemTitle {
											text-align: right;
										}

										.PunkDetailItemContent {
											text-align: right;
										}
									}
								}

								.PunkDetailItemAttributes {
									display: block;
									position: relative;

									text-align: left;

									@include responsiveMax($responsiveMed) {
										display: block;
									}

									@include responsiveMax($responsiveSmall) {
										display: none;
									}

									.PunkDetailItemTitle {
										display: block;
										position: relative;

										padding-bottom: 1px;

										color: #00f5f5;

										font-size: 14px;
										font-weight: 600;
										font-family: 'Gilroy', sans-serif;
									}

									.PunkDetailItemAttribute {
										display: block;
										position: relative;

										padding-bottom: 1px;

										color: #fff;

										font-size: 14px;
										font-weight: 600;
										font-family: 'Gilroy', sans-serif;
									}
								}
							}
						}
					}

					.PunkDetailButtons {
						display: flex;
						position: relative;

						width: 100%;

						flex-direction: column;

						padding-left: $padding;
						padding-right: $padding;
						padding-bottom: $padding;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
							padding-bottom: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
							padding-bottom: $paddingSmall;
						}

						.PunkDetailButtonContainer {
							display: flex;
							position: relative;

							flex-direction: column;

							width: 33vw;
							padding-top: 0px;

							@include responsiveMax($responsiveMed) {
								width: 40vw;
								padding-top: 0px;
							}

							@include responsiveMax($responsiveSmall) {
								width: auto;
								padding-top: 15px;
							}
						}

						.PunkDetailButtonContainer.Padding {
							padding-bottom: 15px;

							@include responsiveMax($responsiveMed) {
								padding-bottom: 15px;
							}

							@include responsiveMax($responsiveSmall) {
								padding-bottom: 0px;
							}
						}
					}
				}
			}
		}
	}
}
