#AppRoot {
	.App {
		.ViewContainer {
			.Punk.View {
				background: $backgroundColor;
				background-color: #fff;

				.ViewBox {
					display: block;
					position: relative;

					width: 100vw;
					max-width: 100%;

					min-height: 100vh;

					background-color: #fff;

					.Spacer {
						display: block;
						position: relative;

						height: $heightHeader;

						@include responsiveMax($responsiveMed) {
							height: $heightHeaderMed;
						}

						@include responsiveMax($responsiveSmall) {
							height: $heightHeaderSmall;
						}
					}

					.PunkContainer {
						display: flex;
						position: relative;

						padding-left: $padding;
						padding-right: $padding;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
						}

						.PunkItem {
							display: block;
							position: relative;

							width: 100%;

							border-radius: 18px;

							background: radial-gradient(
								100% 100% at 50% 100%,
								#0fffff,
								#8000ff
							);

							.PunkImageDetail {
								display: block;
								position: relative;
								width: 100%;

								-ms-interpolation-mode: nearest-neighbor;
								image-rendering: pixelated;
								image-rendering: -moz-crisp-edges;
							}
						}

						.PunkItem:after {
							content: '';
							display: block;
						}
					}
				}
			}
		}
	}
}
