#AppRoot {
	.App {
		.ViewContainer {
			.PunkAccount.View {
				background: $backgroundColor;
				background-color: #fff;

				.ViewBox {
					display: block;
					position: relative;

					width: 100vw;
					max-width: 100%;

					min-height: 100vh;

					background-color: #fff;

					.Spacer {
						display: block;
						position: relative;

						width: 100%;
						height: $heightHeader;

						@include responsiveMax($responsiveMed) {
							height: $heightHeaderMed;
						}

						@include responsiveMax($responsiveSmall) {
							height: $heightHeaderSmall;
						}
					}

					.ContentBlock {
						display: flex;
						position: relative;

						flex-direction: column;

						padding-bottom: 25px;

						padding-left: $padding;
						padding-right: $padding;

						@include responsiveMax($responsiveMed) {
							padding-left: $paddingMed;
							padding-right: $paddingMed;
						}

						@include responsiveMax($responsiveSmall) {
							padding-left: $paddingSmall;
							padding-right: $paddingSmall;
						}

						.BlockTitle {
							display: block;
							position: relative;

							color: #111;

							font-size: 18px;
							font-weight: 800;

							font-family: 'Gilroy', sans-serif;
						}

						.BlockContent {
							display: flex;
							position: relative;

							min-height: 150px;

							border-radius: 18px;
							background-color: #f2f2f2;
						}
					}
				}
			}
		}
	}
}
