#AppRoot {
	.App {
		.ViewContainer {
			.Home.View {
				background: $backgroundColor;

				.ViewBox {
					display: flex;

					.Intro {
						display: block;
						position: relative;

						width: 100vw;

						max-width: 100%;

						background-color: #111;

						.IntroStart {
							display: flex;
							position: relative;
							z-index: 2;

							flex-direction: column;

							align-items: flex-start;
							justify-content: flex-start;

							width: 100%;
							height: auto;
							min-height: 100vh;

							background-color: #111;

							background-size: cover;
							background-repeat: no-repeat;
							background-position-x: 50%;

							@include responsiveMax($responsiveMed) {
								background-position-x: 50%;
							}

							@include responsiveMax($responsiveSmall) {
								background-position-x: 25%;
							}

							.IntroTopGradient {
								display: block;
								position: absolute;

								top: 0px;
								left: 0px;

								width: 100%;
								height: 70vh;

								background: rgb(17, 17, 17);
								background: linear-gradient(
									0deg,
									rgba(17, 17, 17, 0) 0%,
									rgba(17, 17, 17, 1) 100%
								);
							}

							.IntroText {
								display: block;
								position: absolute;

								z-index: 10;

								left: 0px;
								bottom: 90px;

								@include responsiveMax($responsiveMed) {
									bottom: 90px;
								}

								@include responsiveMax($responsiveSmall) {
									bottom: 70px;
								}

								.IntroPunkText {
									display: block;
									position: relative;

									font-size: 80px;

									font-family: 'Gilroy', sans-serif;
									font-weight: 900;

									padding-top: 10px;
									text-align: left;

									padding-left: $padding;
									padding-right: $padding;

									.TextDark {
										color: #fff;
									}

									.TextLight {
										color: #00f5f5;
									}

									@include responsiveMax($responsiveMed) {
										font-size: 80px;

										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 40px;

										padding-left: $paddingSmall;
										padding-right: $paddingSmall;
									}
								}

								.IntroPunkSubText {
									display: block;
									position: relative;

									font-family: 'Gilroy', sans-serif;
									font-weight: 600;
									font-size: 18px;

									padding-top: 0px;
									margin-top: -10px;

									padding-left: $padding;
									padding-right: $padding;

									text-align: left;

									color: #fff;

									text-shadow: 0px 0px 5px #000;

									@include responsiveMax($responsiveMed) {
										font-size: 18px;
										margin-top: -10px;

										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 16px;
										margin-top: 0px;

										width: 90vw;

										padding-left: $paddingSmall;
										padding-right: $paddingSmall;

										br {
											display: none;
										}
									}
								}
							}

							.IntroAstronaut {
								display: block;
								position: absolute;

								width: 400px;

								top: 90px;
								left: $padding;

								animation: float 6s ease-in-out infinite;

								@include responsiveMax($responsiveMed) {
									width: 400px;

									top: 90px;
									left: $paddingMed;
								}

								@include responsiveMax($responsiveSmall) {
									width: 95vw;

									top: 60px;
									left: 0px;
								}
							}

							.IntroBottomGradient {
								display: block;
								position: absolute;

								bottom: 0px;
								left: 0px;

								width: 100%;
								height: 40vh;

								background: rgb(17, 17, 17);
								background: linear-gradient(
									0deg,
									rgba(17, 17, 17, 1) 0%,
									rgba(17, 17, 17, 0) 100%
								);
							}
						}

						.IntroContent {
							display: flex;
							position: relative;
							z-index: 2;

							flex-direction: column;

							padding-top: 40px;

							@include responsiveMax($responsiveMed) {
								padding-top: 40px;
							}

							@include responsiveMax($responsiveSmall) {
								padding-top: 25px;
							}

							.ContentBlock {
								display: flex;
								position: relative;

								flex-direction: column;

								padding-bottom: 80px;

								padding-left: $padding;
								padding-right: $padding;

								@include responsiveMax($responsiveMed) {
									padding-left: $paddingMed;
									padding-right: $paddingMed;
								}

								@include responsiveMax($responsiveSmall) {
									padding-left: $paddingSmall;
									padding-right: $paddingSmall;
								}

								.BlockTitle {
									display: block;
									position: relative;

									padding-bottom: 5px;

									color: #fff;

									font-size: 40px;
									font-weight: 800;

									font-family: 'Gilroy', sans-serif;

									@include responsiveMax($responsiveMed) {
										font-size: 40px;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 30px;
									}
								}

								.BlockContent {
									display: flex;
									position: relative;

									flex-direction: column;

									min-height: 150px;

									padding-left: 20px;
									padding-right: 20px;
									padding-top: 20px;
									padding-bottom: 30px;

									border-radius: 18px;
									background-color: #333;

									.AccountItem {
										display: block;
										position: relative;

										.AccountItemContent {
											display: block;
											position: relative;

											overflow: hidden;

											padding-bottom: 15px;

											margin-right: 200px;

											@include responsiveMax(
												$responsiveMed
											) {
												margin-right: 200px;
											}

											@include responsiveMax(
												$responsiveSmall
											) {
												margin-right: 115px;
											}

											.AccountItemTitleText {
												display: block;
												position: relative;

												overflow: hidden;

												color: #00f5f5;

												font-size: 10px;
												font-weight: 700;

												text-overflow: ellipsis;
												white-space: nowrap;

												font-family: 'Gilroy',
													sans-serif;
											}

											.AccountItemContentText {
												display: block;
												position: relative;

												overflow: hidden;

												color: #fff;

												font-size: 14px;
												font-weight: 900;

												text-overflow: ellipsis;
												white-space: nowrap;

												font-family: 'Gilroy',
													sans-serif;
											}
										}
									}
								}

								.ContentItemContent {
									display: block;
									position: relative;

									width: 60%;

									padding-top: 10px;
									padding-left: 2px;

									color: #fff;

									font-size: 16px;
									line-height: 22px;

									font-weight: 400;
									font-family: 'Gilroy', sans-serif;

									@include responsiveMax($responsiveMed) {
										font-size: 16px;
										line-height: 22px;

										width: 60%;
									}

									@include responsiveMax($responsiveSmall) {
										font-size: 14px;
										line-height: 20px;

										width: auto;
									}

									a {
										color: #00f5f5;
									}
								}
							}

							.ContentBlock.Items {
								padding-left: 0px;
								padding-right: 0px;

								padding-bottom: 20px;

								.BlockTitle {
									display: block;
									position: relative;

									padding-left: $padding;
									padding-right: $padding;

									@include responsiveMax($responsiveMed) {
										padding-left: $paddingMed;
										padding-right: $paddingMed;
									}

									@include responsiveMax($responsiveSmall) {
										padding-left: $paddingSmall;
										padding-right: $paddingSmall;
									}
								}
							}

							.PunkGrid {
								display: flex;
								position: relative;

								flex-direction: column;

								padding-left: $padding - 10px;
								padding-right: $padding - 10px;

								@include responsiveMax($responsiveMed) {
									padding-left: $paddingMed - 10px;
									padding-right: $paddingMed - 10px;
								}

								@include responsiveMax($responsiveSmall) {
									padding-left: $paddingSmall - 10px;
									padding-right: $paddingSmall - 10px;
								}

								.PunkRow {
									display: flex;
									position: relative;

									width: 100%;

									flex-direction: row;

									@include responsiveMax($responsiveMed) {
										flex-direction: row;
									}

									@include responsiveMax($responsiveSmall) {
										flex-direction: column;
									}

									.PunkItem {
										display: flex;
										position: relative;

										flex-grow: 1;
										flex-basis: 33%;

										margin-left: 10px;
										margin-right: 10px;
										margin-bottom: 20px;

										border-radius: 18px;

										background-color: #333;

										@include responsiveMax($responsiveMed) {
											flex-basis: 33%;
										}

										@include responsiveMax(
											$responsiveSmall
										) {
											flex-basis: 100%;
										}

										.PunkItemContent {
											display: flex;
											position: relative;

											flex-grow: 1;

											flex-direction: column;

											.OverlayData {
												display: flex;
												position: absolute;

												z-index: 10;

												width: 100%;

												padding-top: 15px;

												padding-left: 18px;
												padding-right: 18px;

												flex-direction: row;

												.PunkItemDetails {
													display: flex;
													position: relative;

													width: 50%;

													flex-direction: column;
													justify-content: space-between;

													font-family: 'Gilroy',
														sans-serif;
													font-size: 14px;
													font-weight: 600;

													.DetailsTextTitle {
														display: block;
														position: relative;

														font-size: 8px;

														color: #fff;
													}

													.DetailsTextContent {
														display: block;
														position: relative;

														color: #fff;

														white-space: nowrap;
														overflow: hidden;
														text-overflow: ellipsis;
													}

													.DetailsTextContent.Bold {
														font-weight: 900;
													}
												}

												.PunkItemDetails.Left {
													align-items: flex-start;
												}

												.PunkItemDetails.Right {
													align-items: flex-end;
												}
											}

											.PunkImageContainer {
												display: flex;
												position: relative;

												padding-top: 40px;

												border-top-left-radius: 18px;
												border-top-right-radius: 18px;

												overflow: hidden;

												align-items: center;
												justify-content: center;

												background: linear-gradient(
													335deg,
													#cf15b4,
													#00c9c9
												);

												background-color: #00f5f5;

												.PunkImageGrid {
													display: block;
													position: relative;

													width: 50%;

													max-width: 160px;
													max-height: 160px;
												}

												.PunkImageGrid:before {
													content: '';
													display: block;
													padding-top: 100%;
												}
											}

											.PunkDetailsContainer {
												display: flex;
												position: relative;

												padding-left: 18px;
												padding-right: 18px;

												padding-top: 15px;
												padding-bottom: 18px;

												flex-grow: 1;

												flex-direction: column;

												.PunkItemTop {
													display: flex;
													position: relative;

													flex-direction: row;
													justify-content: space-between;
												}

												.PunkItemDetails {
													display: flex;
													position: relative;

													flex-direction: column;
													align-items: flex-start;
													justify-content: space-between;

													padding-bottom: 8px;

													font-family: 'Gilroy',
														sans-serif;
													font-size: 14px;
													font-weight: 600;

													.DetailsTextTitle {
														display: block;
														position: relative;

														font-size: 8px;

														color: #00f5f5;
													}

													.DetailsTextContent {
														display: block;
														position: relative;

														color: #fff;

														white-space: nowrap;
														overflow: hidden;
														text-overflow: ellipsis;
													}

													.DetailsTextContent.Bold {
														font-weight: 900;
													}

													.DetailsTextContent.OverFlow {
														display: block;
														position: absolute;

														top: 9px;
														left: 0px;

														width: 100%;

														color: #111;

														white-space: nowrap;
														overflow: hidden;
														text-overflow: ellipsis;
													}
												}
											}
										}
									}

									.PunkSpacer {
										display: block;
										width: 20px;
										height: 140px;

										@include responsiveMax($responsiveMed) {
											display: block;
											width: 20px;
											height: 140px;
										}

										@include responsiveMax(
											$responsiveSmall
										) {
											display: none;

											width: 0px;
											height: 0px;
										}
									}

									.PunkSpacer.Hidden {
										display: none;

										width: 0px;
										height: 0px;
									}
								}
							}

							.SpacerBottom {
								display: block;
								position: relative;

								width: 100%;
								height: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(40px);
	}
	100% {
		transform: translatey(0px);
	}
}
